{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Semester | TTGS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/templates.css' %}" />
  </head>

  <body>
    <!-- SIDEBAR -->
    <div class="sidebar">
      <div class="logo-box">
        <img src="{% static 'images/logo.png' %}" />
        <h2>TTGS Admin</h2>
      </div>

      <div class="menu">
        <a href="{% url 'add_faculty' %}">Teachers</a>
        <a href="{% url 'add_timeslot' %}">Timing</a>
        <a href="{% url 'add_subject' %}">Subjects</a>
        <a href="{% url 'add_department' %}">Departments</a>
        <a href="{% url 'add_subject_faculty' %}">Assign Subject</a>
        <a href="{% url 'add_classroom' %}">Classrooms</a>
        <a href="{% url 'add_semester' %}">Semesters</a>
        <a href="{% url 'generate' %}?auto=true">Generate Time Table</a>
        <a href="{% url 'timetable' %}">Timetable</a>
      </div>
      <div class="bottom-links">
        <hr style="margin: 15px 0; border-color: rgba(255, 255, 255, 0.2)" />

        <a href="{% url 'student_dashboard' %}">🏠︎ Home</a>
        <a href="{% url 'logout' %}">⏻ Logout</a>
      </div>
    </div>

    <div class="overlay" id="overlay"></div>

    <!-- MAIN -->
    <div class="main">
      <!-- TOPBAR -->
      <div class="topbar">
        <div class="topbar-left">
          <h2>TTGS Admin</h2>
        </div>

        <div class="topbar-right">
          <a href="{% url 'student_dashboard' %}">Home</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>

        <span class="menu-toggle" onclick="toggleMenu()" id="menuBtn">☰</span>
      </div>

      <!-- CONTENT -->
      <div class="content">
        <!-- STATS -->
        <div class="stats">
          <div class="card-box">
            <h4>Departments</h4>
            <p>{{ departments|length }}</p>
          </div>

          <div class="card-box">
            <h4>Semesters</h4>
            <p>{{ semesters|length }}</p>
          </div>

          <div class="card-box">
            <h4>Faculty</h4>
            <p>{{ faculties|length }}</p>
          </div>

          <div class="card-box">
            <h4>Subjects</h4>
            <p>{{ subjects|length }}</p>
          </div>
        </div>

        <!-- FORM -->
        <div class="card">
          <h3>Add Semester</h3>

          <form method="post">
            {% csrf_token %} {{ form.as_p }}

            <button type="submit" class="btn">Save Semester</button>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'js/all-js.js' %}"></script>
  </body>
</html>